/* Styling for chat message container */
.chat-highlight-continer {
    width: 400px;

    height: auto;
    max-height: 300px;
    display: flex;
    flex-direction: column-reverse;

    font-size: 15px;
    line-height: 1;
    color: white;

    position: fixed;
    right: 12px;
    bottom: 8px;
    z-index: 999;

    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    overflow-y: hidden;
}

.chat-message {
    width: auto;
    height: auto;
    margin: 8px 4px 0 8px;

    display: block flex;
    flex-direction: row;
}

#chat-message-content {
    margin: 0 0 0 8px;
}

#profile-pic {
    width: 32px;
    height: 32px;
}

#profile-pic img {
    width: 100%;
    border-radius: 50%;
}

span[type="owner"] {
    color: black;
    background-color: #ffd600;
    border-radius: 3px;
}

span[type="moderator"] {
    color: #4184f3;
}

span[type="member"] {
    color: #2ba640;
}

span[type="verified"] {
    color: #e9e9e9;
    background-color: #606060;
}

.chat-badges-renderer {
    width: 16px;
    height: 16px;
    margin: 0 4px;
    display: inline flex;
    vertical-align: text-bottom;
    font-size: 0;
}

#chat-message-author {
    margin: 0 4px;
}

#chat-message-message img{
    width: 16px;
    margin: 0 4px;
    vertical-align: text-bottom;
}